<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>TestEndpoint</display-name>
    <servlet-name>TestEndpoint</servlet-name>
    <servlet-class>it.justsport.api.TestEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEndpoint</servlet-name>
    <url-pattern>/TestEndpoint</url-pattern>
  </servlet-mapping>
  <display-name>JustSportAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterEndpoint</display-name>
    <servlet-name>RegisterEndpoint</servlet-name>
    <servlet-class>it.justsport.api.RegisterEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEndpoint</servlet-name>
    <url-pattern>/RegisterEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginEndpoint</display-name>
    <servlet-name>LoginEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.LoginEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEndpoint</servlet-name>
    <url-pattern>/LoginEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllTournamentsEndpoint</display-name>
    <servlet-name>GetAllTournamentsEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.GetAllTournamentsEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTournamentsEndpoint</servlet-name>
    <url-pattern>/GetAllTournamentsEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllTeamsEndpoint</display-name>
    <servlet-name>GetAllTeamsEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.GetAllTeamsEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTeamsEndpoint</servlet-name>
    <url-pattern>/GetAllTeamsEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTournamentEndpoint</display-name>
    <servlet-name>AddTournamentEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.AddTournamentEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTournamentEndpoint</servlet-name>
    <url-pattern>/AddTournamentEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutEndpoint</display-name>
    <servlet-name>LogoutEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.LogoutEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutEndpoint</servlet-name>
    <url-pattern>/LogoutEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeamEndpoint</display-name>
    <servlet-name>AddTeamEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.AddTeamEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeamEndpoint</servlet-name>
    <url-pattern>/AddTeamEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamSubscribeEndpoint</display-name>
    <servlet-name>TeamSubscribeEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.TeamSubscribeEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamSubscribeEndpoint</servlet-name>
    <url-pattern>/TeamSubscribeEndpoint</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CorsFilter</display-name>
    <filter-name>CorsFilter</filter-name>
    <filter-class>it.justsport.api.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/CorsFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddMatchEndpoint</display-name>
    <servlet-name>AddMatchEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.AddMatchEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMatchEndpoint</servlet-name>
    <url-pattern>/AddMatchEndpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TournamentSubscribeEndpoint</display-name>
    <servlet-name>TournamentSubscribeEndpoint</servlet-name>
    <servlet-class>it.justsport.api.endpoint.TournamentSubscribeEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentSubscribeEndpoint</servlet-name>
    <url-pattern>/TournamentSubscribeEndpoint</url-pattern>
  </servlet-mapping>
</web-app>